.span {
  position: relative;
  margin-left: 8px;
  color: var(--primary-color);
  cursor: pointer;
  overflow: hidden;
}

.flexRow {
  display: flex;
  margin-block: .5rem .7rem;
}

.buttons{
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
}


