.almostThere {
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.inputWrapper {
  margin-bottom: 1rem;
  width: 100%;
}

.hint {
  margin-top: 0.5rem;
  color: var(--primary-color-hint);
}

.buttons {
  display: flex;
  gap: 1rem;
  width: 100%;
  margin-top: auto;
}


